{% load static %}

<div class="testimonial">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <div class="titlepage text_align_center">
                <h2>Testimonial</h2>
             </div>
          </div>
       </div>
       <!-- start slider section -->
       <div class="row">
          <div class="col-md-12">
             <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                   <li data-target="#myCarousel" data-slide-to="1"></li>
                   <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                   <div class="carousel-item active">
                      <div class="container-fluid">
                         <div class="carousel-caption relative">
                            <div class="row d_flex">
                               <div class="col-md-3">
                                  <div class="test_box text_align_center">
                                     <span><img src="{% static 'vazifa/images/test1.png' %}" alt="#"/></span>
                                     <h4>Jone Lo</h4>
                                     <img class="img_responsive" src="{% static 'vazifa/images/te.png' %}" alt="#"/>
                                     <p>humour, or randomised words which don't look even slightly believable. If you are</p>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="test_box white_bg text_align_center">
                                     <span><img src="{% static 'vazifa/images/test3.png' %}" alt="#"/></span>
                                     <h4>Michale</h4>
                                     <img class="img_responsive" src="{% static 'vazifa/images/te2.png' %}" alt="#"/>
                                     <p>humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
                                  </div>
                               </div>
                               <div class="col-md-3">
                                  <div class="test_box text_align_center">
                                     <span><img src="{% static 'vazifa/images/test3.png' %}" alt="#"/></span>
                                     <h4>Disol</h4>
                                     <img class="img_responsive" src="{% static 'vazifa/images/te.png' %}" alt="#"/>
                                     <p>humour, or randomised words which don't look even slightly believable. If you are</p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container-fluid">
                         <div class="carousel-caption relative">
                            <div class="row d_flex">
                               <div class="col-md-3">
                                  <div class="test_box text_align_center">
                                     <span><img src="{% static 'vazifa/images/test2.png' %}" alt="#"/></span>
                                     <h4>Michale</h4>
                                     <img class="img_responsive" src="{% static 'vazifa/images/te.png' %}" alt="#"/>
                                     <p>humour, or randomised words which don't look even slightly believable. If you are</p>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="test_box white_bg text_align_center">
                                     <span><img src="{% static 'vazifa/images/test3.png' %}" alt="#"/></span>
                                     <h4>Disol</h4>
                                     <img class="img_responsive" src="{% static 'vazifa/images/te2.png' %}" alt="#"/>
                                     <p> humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
                                  </div>
                               </div>
                               <div class="col-md-3">
                                  <div class="test_box text_align_center">
                                     <span><img src="{% static 'vazifa/images/test1.png' %}" alt="#"/></span>
                                     <h4>Jone Lo</h4>
                                     <img class="img_responsive" src="{% static 'vazifa/images/te.png' %}" alt="#"/>
                                     <p>humour, or randomised words which don't look even slightly believable. If you are</p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container-fluid">
                         <div class="carousel-caption relative">
                            <div class="row d_flex">
                               <div class="col-md-3">
                                  <div class="test_box text_align_center">
                                     <span><img src="{% static 'vazifa/images/test3.png' %}" alt="#"/></span>
                                     <h4>Disol</h4>
                                     <img class="img_responsive" src="{% static 'vazifa/images/te.png' %}" alt="#"/>
                                     <p>humour, or randomised words which don't look even slightly believable. If you are</p>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="test_box  white_bg text_align_center">
                                     <span><img src="{% static 'vazifa/images/test1.png' %}" alt="#"/></span>
                                     <h4>Jone Lo</h4>
                                     <img class="img_responsive" src="{% static 'vazifa/images/te2.png' %}" alt="#"/>
                                     <p> humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
                                  </div>
                               </div>
                               <div class="col-md-3">
                                  <div class="test_box text_align_center">
                                     <span><img src="{% static 'vazifa/images/test2.png' %}" alt="#"/></span>
                                     <h4>Michale</h4>
                                     <img class="img_responsive" src="{% static 'vazifa/images/te.png' %}" alt="#"/>
                                     <p>humour, or randomised words which don't look even slightly believable. If you are</p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
                </a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end testimonial -->
 <!--  footer -->
 <footer>
    <div class="footer">
       <div class="container">
          <div class="row">
             <div class="col-md-4 ">
                <div class="infoma">
                   <h3>Contact Us</h3>
                   <ul class="conta">
                      <li><i class="fa fa-map-marker" aria-hidden="true"></i>Locations 
                      </li>
                      <li><i class="fa fa-phone" aria-hidden="true"></i>Call +01 1234567890</li>
                      <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="Javascript:void(0)"> demo@gmail.com</a></li>
                   </ul>
                </div>
             </div>
             <div class="col-md-8">
                <div class="row border_left">
                   <div class="col-md-12">
                      <div class="infoma">
                         <h3>Newsletter</h3>
                         <form class="form_subscri">
                            <div class="row">
                               <div class="col-md-12">
                               </div>
                               <div class="col-md-4">
                                  <input class="newsl" placeholder="Enter your email" type="text" name="Enter your email">
                               </div>
                               <div class="col-md-4">
                                  <input class="newsl" placeholder="Enter your email" type="text" name="Enter your email">
                               </div>
                               <div class="col-md-4">
                                  <button class="subsci_btn">subscribe</button>
                               </div>
                            </div>
                         </form>
                      </div>
                   </div>
                   <div class="col-md-9">
                      <div class="infoma">
                         <h3>Useful Link</h3>
                         <ul class="fullink">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="skating.html">Skating</a></li>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-md-3">
                      <div class="infoma text_align_left">
                         <ul class="social_icon">
                            <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="copyright">
          <div class="container">
             <div class="row">
                <div class="col-md-12">
                   <p>© 2020 All Rights Reserved. Design by <a href="https://html.design/"> Free html Templates</a></p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>